
server:
  port: 8080

spring:
  application:
    name: coinkeeper

  datasource:
    url: jdbc:postgresql://localhost/coin-keeper
    username: ${LOGIN_BD}
    password: ${PASS_BD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        boot:
          allow_jdbc_metadata_access: false
        dialect: org.hibernate.dialect.PostgreSQLDialect


  flyway:
    locations: classpath:/db/migrations
    enabled: true
    baseline-on-migrate: true

